/* Fondo general  */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f9e79f, #f5cba7);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.contenedor {
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    border: 2px solid #d35400;
}

/* Título */
.subtitulo {
    color: #8e5e2f;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* Lista de tareas en formato tabla */
#lista-tareas {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #d35400;
    border-radius: 10px;
    background-color: #fdebd0;
}

#lista-tareas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d35400;
    font-size: 1rem;
    color: #6c5b55; 
    font-weight: 500; 
}

#lista-tareas li span {
    flex: 1; /* que el texto use el espacio sobrante */
    text-align: left;
    margin-right: 10px; /* separa el texto del botón */
}

/* Cada tarea */
#lista-tareas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d35400;
    font-size: 1rem;
    color: #5d4037;
}

/* Quitar borde en el último */
#lista-tareas li:last-child {
    border-bottom: none;
}

/* Botón eliminar */
#lista-tareas button {
    background-color: #e67e22;
    color: rgb(255, 252, 252);
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

#lista-tareas button:hover {
    background-color: #ca6f1e;
}

/* Sección de ingreso */
#Ingreso {
    display: flex;
    flex-direction: column; /* uno encima del otro */
    align-items: center;
    margin-bottom: 20px;
}


#ingres {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #a04000;
    width: 200px;
}

/* Botón agregar */
button[onclick="Agregar()"] {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    margin-top: 8px;
}

button[onclick="Agregar()"]:hover {
    background-color: #a04000;
}

/* Animación para eliminar */
.desvanecer {
    opacity: 0;
    transition: opacity 0.5s ease;
}
