.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateX(-50%) perspective(10000px) rotateX(-16deg);
    animation: autoRun 30s linear infinite;
}
@keyframes autoRun{
    from{
        transform: translateX(-50%) perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: translateX(-50%) perspective(1000px)  rotateX(-16deg) rotateY(360deg)
    }
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
    rotateY(calc( (var(--position) - 1)* (360 / var(--quantity)) * 1deg ))
    translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}